.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  overflow-x: auto;
  height: 200px;
}

.scroll-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
